.list{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.topbutton{
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color:#FFFFFF;
}
.topbutton:hover,
.topbutton:focus{
    background-color: #404BBF;
}
.link{
    text-decoration: none;
}
body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #434455
    
}
/* Header navigation */
.top-headr{
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.headr-container{
    display: flex;
}
.logo{
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
.first-logo{
color:#2e2f42;
max-width: 115px;
}
a:-webkit-any-link{
    cursor: pointer;
}
.top-navigation{
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 24px 0 24px;
}
.menu{
    display: flex;
    gap: 40px;
    margin-left: 43px;
    margin-right: 332px;
    align-items: center;
}
.menu-link{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color:#2E2F42;
}
.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
}
.contacts{
    font-style: normal;
}
.menu-contacts{
    display: flex;
    gap: 40px;
    padding: 24px 0 24px;
    margin: 0 auto;
}
.contacts-link{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color:#434455;
}
.contacts-link:hover,
.contacts-link:focus{
    color: #404BBF;
}
/* Main content */
.first-section{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    margin-top: 72px;
}
.title{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
width: 496px;
height: 120px;
margin-top: 260px;
margin-left: 472px;
}
/* about */
.desc-item{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
}
.desc-text{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
/* our team */
.team{
    background-color: #F4F4FD
}
.team-title{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
}
.team-photo{
    background-color: #FFFFFF;
}
.team-link{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42;
}
.team-text{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
/* our portfolio */
.portfolio-title{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
}
.portfolio-link{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
}
.portfolio-text{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
/* footer */
.down{
    background-color:#2E2F42;
}
.down-logo{
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.second-logo{
color: #f4f4fd;
}
.down-text{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
}